body {
  --background-black: #5a5a5a;
  --background-secondary: #f9f9fb;
  --background-white: #ffffff;
  --border-hairline: 1px solid #0004;
  --borderRadius-outer: 0.5em;
  --color-black: #212529;
  --color-border-primary: #cdcdcd;
  --color-link-active: #3378ac;
  --color-link-hover: #c00;
  --color-modal-fader: #b3b3b3cc;
  --color-white: #ffffff;
  --color-table-stripe: rgb(222, 226, 230);
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --pad: clamp(0.5em, min(2vw, 4vh), 4em);
  --shadow-chrome: 0 0.25em 1em 0.25em #0003;
  --page-width: 95%;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1920,24,1.125,5,5,900-1200-1800-600&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--5: clamp(0.56rem, calc(0.5rem + 0.28vw), 0.83rem);
  --step--4: clamp(0.62rem, calc(0.56rem + 0.31vw), 0.94rem);
  --step--3: clamp(0.7rem, calc(0.63rem + 0.35vw), 1.05rem);
  --step--2: clamp(0.79rem, calc(0.71rem + 0.4vw), 1.19rem);
  --step--1: clamp(0.89rem, calc(0.8rem + 0.44vw), 1.33rem);
  --step-0: clamp(1rem, calc(0.9rem + 0.5vw), 1.5rem);
  --step-1: clamp(1.13rem, calc(1.01rem + 0.56vw), 1.69rem);
  --step-2: clamp(1.27rem, calc(1.14rem + 0.63vw), 1.9rem);
  --step-3: clamp(1.42rem, calc(1.28rem + 0.71vw), 2.14rem);
  --step-4: clamp(1.6rem, calc(1.44rem + 0.8vw), 2.4rem);
  --step-5: clamp(1.8rem, calc(1.62rem + 0.9vw), 2.7rem);
}

/*---------------------
        RESETS
---------------------*/
/* html,
body,
address,
blockquote,
dl,
dt,
dd,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  padding: 0;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
fieldset,
object {
  border: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

button,
label {
  cursor: pointer;
}
html,
body {
  min-height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*---------------------
      AT RULES
---------------------*/

/* @media (max-width: 30em) {
  #lineup-page {
    display: block;
  }
} */

/* phone only 599px */
/* @media screen and (max-width: 37.4375em) {
  * {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
} */
/* tablet portrait up 600px */
/* @media screen and (min-width: 37.5em) {
} */
/* table landscape up 900px */
/* @media screen and (min-width: 56.25em) {
} */
/* desktop up 1200px */
/* @media screen and (min-width: 75em) {
} */
/* big desktop up 1800px */
/* @media screen and (min-with: 112.5em) {
} */
/*--------------------------------------
        SELECTORS
---------------------------------------*/

a p {
  text-align: center;
}

a,
li,
p,
td {
  font-family: var(--font-sans-serif);
  font-size: var(--step-1);
  margin-top: 0;
}

body {
  background-color: var(--background-white);
  display: block;
  font-family: var(--font-sans-serif);
  margin: auto;
  overflow: none;
  text-align: center;
}

h1 {
  font-size: var(--step-3);
  margin: auto;
  height: fit-content;
  width: fit-content;
}

h2 {
  font-size: var(--step-2);
  margin: auto;
  height: fit-content;
  width: fit-content;
}

select {
  color: black;
}

.active_li {
  background-color: white;
  color: black;
  font-weight: 700;
}

.divider {
  border-top: 1px solid #3378ac;
  color: var(--background-black);
  display: block;
  height: 0;
  margin: 0 auto;
  opacity: 1;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

#save-lineup {
  margin-top: 0em;
}

#sign-in,
#save-lineup {
  font-size: var(--step-0);
}

#sign-in fieldset,
#save-lineup fieldset,
#active-lineup_footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sign-in fieldset {
  gap: 1em;
}

#active-lineup fieldset {
  gap: 0.5em;
  margin-bottom: 0.5em;
}
#active-lineup_footer {
  gap: 0em;
}

#sign-in label,
#save-lineup label {
  justify-content: right;
  margin: 0 auto;
  width: fit-content;
}

#sign-in input,
#save-lineup input {
  text-align: center;
}

#header_not-signed-in h1 {
  align-items: center;
  background-color: #00365f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.28);
  color: #fff;
  font-weight: normal;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  margin: 0 auto 1em auto;
  overflow: hidden;
  padding: 8px 16px;
  text-align: center;
  top: 0;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  z-index: 1;
}

button,
a[type='button'] {
  appearance: none;
  background-color: #cccccc;
  border: 0.05em solid #cccccc;
  border-radius: 0.5em;
  color: #3378ac;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-sans-serif);
  font-size: var(--step--1);
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}
button:hover,
a[type='button']:hover {
  appearance: none;
  background-color: #fff;
  border-radius: 10px;
  color: var(--color-link-hover);
  -webkit-appearance: none;
}

.buttons > button {
  margin: 0 0.5 0 0.5em;
}
.buttons > button:first-of-type {
  margin: 0 0.5em 0 0;
}
.buttons > button:last-of-type {
  margin: 0 0 0 0.5em;
}

.buttons_stacked {
  display: flex;
  flex-direction: column;
}

.not-stacked {
  margin: 0.25em auto;
}

.stacked {
  margin: 0.25em auto 0.5em auto;
}
#hero {
  align-items: baseline;
  background-color: var(--background-white);
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: fit-content;
  margin: 0 auto 0.625em auto;
  width: fit-content;
}

#hero > h1 {
  font-size: var(--step-2);
  font-weight: normal;
  color: #fff;
  background-color: #00365f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.28);
  height: 1.5em;
  padding: 0 0.5em 1em 0.5em;
}

nav {
  font-size: var(--step--1);
  height: 2.5em;
}
nav ul {
  background: var(--background-white);
  height: 2.5em;
  list-style-type: none;
  margin-top: 0.25em;
}
nav li {
  display: inline-block;
  margin: 0 0.5em;
}
nav a {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-sans-serif);
  font-size: var(--step--1);
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 0;
  outline: 0;
  overflow-wrap: break-word;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: fit-content;
}
nav a:link,
nav a:visited {
  color: var(--color-black);
}
nav a:hover,
nav a.inactive:hover {
  background-color: var(--color-link-hover);
  color: var(--color-white);
}
nav a.active {
  background: var(--color-link-active);
  color: var(--color-white);
}
nav a.inactive {
  background: var(--color-white);
  color: var(--color-black);
}

/* This is the modal overlay. */
#submenu {
  align-items: center;
  background: var(--color-modal-fader);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: left;
  left: -100%;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  transition: left 0s 0.5s, opacity 0.5s;
  width: 100%;
}

#submenu {
  align-items: center;
  justify-content: left;
}
#submenu > a {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

#submenu a.modalClose {
  display: block;
  position: absolute;
  text-decoration: none;
}

/* This is the submenu panel.*/
#submenu div:not(.divider) {
  background: var(--background-white);
  /* border: var(--border-hairline);
  border-radius: var(--borderRadius-outer);
  box-shadow: var(--shadow-chrome); */
  flex-grow: 0;
  height: 100%;
  left: 0%;
  opacity: 1;
  overflow: auto;
  position: relative;
  transition: left 0.5s;
  width: fit-content;

  /*One big thing to pay attention to is the  on the inner DIV. If you omit auto margin on the VERTICAL (a direction that normally ignores margin!) flex will chop off the top of your content and you won’t be able to scroll up to it. Grid often drops the ball on this worse which is why I favor flex here. If you’re going to use a container to center its children, I really suggest using flex with margin on an inner container. Failing to do so can really screw you over.*/
}

/* This link is the X to close the modal.*/
#submenu div > a {
  background-size: cover;
  height: 1.5rem;
  right: 0.85rem;
  top: 0.88rem;
  width: 1.5rem;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='%23800' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3E%3C/path%3E%3C/svg%3E")
    center center no-repeat;
}
#submenu ul {
  display: flex;
  flex-direction: column;
  padding: var(--pad);
}
#submenu li {
  margin: 0;
  text-align: left;
}
#submenu:target > div {
  left: 0;
}

#submenu:target {
  left: 0;
  opacity: 1;
  transition: left 0s, opacity 0.5s;
}

/* START CONFIRMDLETEMODAL */
/* This is the modal overlay. */
.modal {
  align-items: center;
  background: var(--color-modal-fader);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  transition: left 0s 0.5s, opacity 0.5s;
  width: 100%;
  z-index: 1;
}
.modal > a {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.modal a.modalClose {
  display: block;
  position: absolute;
  text-decoration: none;
}

/* This is the submenu panel.*/
.modal section {
  background: var(--background-white);
  border: var(--border-hairline);
  border-radius: var(--borderRadius-outer);
  box-shadow: var(--shadow-chrome);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  left: 0%;
  height: fit-content;
  opacity: 1;
  outline: 0;
  overflow: auto;
  position: relative;
  transition: left 0.5s;
  width: 50%;

  /*One big thing to pay attention to is the  on the inner DIV. If you omit auto margin on the VERTICAL (a direction that normally ignores margin!) flex will chop off the top of your content and you won’t be able to scroll up to it. Grid often drops the ball on this worse which is why I favor flex here. If you’re going to use a container to center its children, I really suggest using flex with margin on an inner container. Failing to do so can really screw you over.*/
}
.modal > section > header {
  border-bottom: 1px solid rgb(222, 226, 230);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
.modal > section > header > h2 {
  font-size: var(--step-1);
  font-weight: 500;
  margin-left: 0.5em;
}

.modal > section > div {
  position: relative;
  flex: 1 1 auto;
  padding: 0.5em 1em;
}

.modal > section > div > form > fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.modal > section > div > form > fieldset > select {
  margin: 0 auto;
  width: 100%;
}

label > input[type='checkbox'] {
  margin-right: 0.5em;
}

label > input[type='text'] {
  margin-left: 0.5em;
}
.modal > section > div > form > fieldset > label > input[type='number'] {
  margin-top: 0.5em;
}

.modal > section > div > form > fieldset > article {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.modal > section > div > form > fieldset > footer,
.modal > section > footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75em;
  border-top: 1px solid rgb(222, 226, 230);
}
.modal > section > div > form > fieldset > footer a.modalClose,
.modal > section > div > form > fieldset > footer button,
.modal > section > footer a.modalClose,
.modal > section > footer button {
  align-items: flex-start;
  display: inline-block;
  margin: 0.25em;
  position: relative;
}

.modal > section > div > form > fieldset > footer a,
.modal > section > div > form > fieldset a.modalClose > footer,
.modal > section > div > form > fieldset > footer > button:first-child,
.modal > section > footer a,
.modal > section > footer a.modalClose,
.modal > section > footer > button:first-child {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.modal > section > div > form > fieldset > footer > button:last-child,
.modal > section > footer > button:last-child {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d63fd;
}

/* This link is the X to close the modal.*/
.modal section > header > h2 + a.modalClose {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 1em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  position: relative;
}
.modal:target > section {
  left: 0;
}
.modal:target {
  left: 0;
  opacity: 1;
  transition: left 0s, opacity 0.5s;
}

/* END CONFIRMDLETEMODAL */

#help {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#help p {
  font-size: var(--step-0);
  margin-bottom: 0.5em;
  text-align: left;
}
#help h2,
#tutorials h2 {
  font-size: var(--step-3);
  font-weight: 700;
  text-align: center;
}
#help h3,
#tutorials h3 {
  font-size: var(--step-2);
  font-weight: 700;
  text-align: center;
}

#help h3:not(:first-of-type) {
  margin-top: 1em;
}

#help h4 {
  font-size: var(--step-1);
  font-style: italic;
  font-weight: 500;
  text-align: left;
}

#help details summary,
#tutorials details summary {
  font-size: var(--step-1);
}
#help details ul,
#tutorials details ul {
  margin-left: 1em;
  text-align: left;
}

#help details > ul > li > a {
  font-weight: 700;
}

#help details > ul > li > ul {
  margin-left: 1em;
}

#help summary,
#tutorials summary {
  font-style: italic;
}

.iframe {
  margin: 0 auto;
  width: 95%;
}
.iframe > iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

#individual,
#groups,
#scores,
#lookup,
#saturday {
  font-size: var(--step-0);
}

#individual table,
#groups table,
#scores table,
#lookup table,
#saturday table {
  border-collapse: collapse;
  margin: 1em auto 0 auto;
}

#groups table,
#saturday table {
  margin-bottom: 2em;
}

#individual table {
  width: 60%;
}
#saturday table {
  width: 90%;
}
#groups table,
#scores table,
#lookup table {
  width: fit-content;
}
#individual caption,
#groups caption,
#scores caption,
#lookup caption,
#saturday caption {
  font-size: var(--step-0);
  font-weight: 700;
  margin-bottom: 0.5em;
}

#individual thead tr th,
#groups thead tr th,
#scores thead tr th,
#saturday thead tr:nth-of-type(2) {
  border-bottom: 2px solid currentColor;
}

#individual tbody tr:nth-child(odd),
#groups tbody tr:nth-child(odd),
#scores tbody tr:nth-child(odd),
#lookup tbody tr:nth-child(odd),
#saturday tbody tr:nth-child(even) {
  background: var(--color-table-stripe);
}

#individual th,
#individual td,
#groups th,
#groups td,
#lookup th,
#lookup td {
  font-size: var(--step-1);
}

#groups td,
#scores td,
#lookup td,
#lookup th {
  padding: 0 0.5em;
}

#saturday td,
#saturday th {
  padding: 0 0.3175em;
}

#scores td {
  padding: 0 0.5em;
}

#scores tr td:last-child {
  text-align: left;
}

#groups th[scope='row'],
#saturday th[scope='row'] {
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 1em;
  text-align: left;
  width: fit-content;
}
#saturday th[scope='row'] {
  text-decoration: underline;
  text-decoration-color: #3378ac;
}

#scores th[scope='row'] {
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 1em;
  text-align: right;
}
#lookup th[scope='row'] {
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 1em;
  text-align: center;
}

#lookup-entry > form > fieldset > label > input,
#lookup-entry > form > fieldset > label > select {
  margin-left: 0.5em;
}

#lookup-entry,
#lookup-entry fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  font-size: var(--step-1);
}

#lookup-entry p {
  margin: 0 auto;
  width: 50%;
}

#saturday tbody th,
#saturday tbody tr td:nth-child(3n + 1) {
  border-right: 2px solid currentColor;
}
#saturday tbody th {
  border-left: 2px solid currentColor;
}
#saturday tbody tr:last-of-type {
  border-bottom: 1.5em solid #3378ac;
}

#saturday thead tr:nth-of-type(2) {
  background-color: #3378ac;
  color: #ffffff;
}

select {
  font-size: var(--step--2);
  font-weight: normal;
  margin: 0;
}
.select-dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  color: var(--color-black);
  height: fit-content;
  padding: 0.125em;
  margin: 0 auto 0.5em auto;
  width: fit-content;
}
#sort-order {
  flex-direction: column;
  gap: 0.5em;
  margin: 0 auto 0.5em auto;
}

.select-dropdown-container > label,
#sort-order > label {
  font-size: var(--step--1);
}
.select-dropdown-container label > select {
  margin-left: 0.5em;
}

.titled_outer,
.titled_inner {
  border: 0.1em solid var(--color-link-active);
  border-radius: 1em;
  height: fit-content;
  margin: 0 auto;
  padding: 0 0.5em;
  text-align: center;
  width: 100%;
}

.titled_inner {
  margin: 1.5em auto;
  width: fit-content;
}

.titled_outer > h2,
.titled_inner > h3 {
  background-color: var(--color-white);
  border-radius: 0.5em;
  font-size: var(--step-0);
  font-weight: 700;
  height: fit-content;
  position: relative;
  top: -0.8em;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

#saved-lineups p {
  font-size: var(--step-0);
  font-style: italic;
}

#saved-lineups ul {
  font-size: var(--step-0);
  margin: 0 auto;
  text-align: left;
  width: fit-content;
}

#change-tees form {
  margin: 0 auto;
  padding: 0 0.5em 0.5em 0.5em;
  text-align: center;
  width: fit-content;
}

#change-tees select {
  margin: 0.5em auto;
  padding: 0.5em;
  overflow-y: hidden;
}

.players {
  padding: 0 0.5em;
}

.players > h4 {
  font-size: var(--step--1);
  text-decoration: underline;
}
.players > ul {
  list-style: none;
}

.players > ul > li {
  font-size: var(--step--2);
  line-height: 2;
  text-align: left;
}

#add-players > div {
  display: flex;
  flex-direction: row;
}

#active-lineup {
  display: flex;
  flex-direction: column;
}

.team-table {
  display: block;
}

.team-table > thead th {
  font-size: var(--step-0);
  width: fit-content;
}

.team-table > thead th:nth-of-type(1, 2) {
  text-align: left;
}

.team-table > thead > tr > th:nth-of-type(2) {
  display: inline-flex;
  float: left;
}

.team-table > tbody > tr > td {
  height: fit-content;
}

.team-table > tbody > tr > td:last-of-type > select {
  appearance: none;
  border: none;
  font-weight: 700;
  margin-left: 0.25em;
  width: 2em;
}

.team-table > tbody > tr > th {
  font-size: var(--step-0);
  font-weight: normal;
  padding: 0 0.125em;
  text-align: left;
  width: 15em;
}
.ch-chosen {
  text-decoration: underline;
}

.team-table > tfoot th {
  font-size: var(--step-0);
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

#players-not-in-tee-time > li {
  font-size: var(--step-0);
  font-weight: normal;
}

#lineup-text-area {
  border-width: 0.125em;
  outline: none;
  display: block;
  font-size: var(--step-0);
  font-style: normal;
  margin: 0 auto 0.25em auto;
  padding: 0.125em;
  resize: none;
}

#active-lineup p {
  font-style: italic;
}

/*Trying out Responsive Styling*/

#lineup-page {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  max-width: 96em;
  padding: 0 0.5em;
  margin: 0 auto;
}

#lineup-page #left {
  display: flex;
  flex-direction: column;
  flex: 1 0 24em;
  height: fit-content;
  gap: 2em;
  justify-content: center;
  max-width: 48em;
}

#lineup-page #right {
  display: flex;
  flex-direction: column;
  flex: 1 0 24em;
  height: fit-content;
  justify-content: center;
  max-width: 48em;
}

#lineup-page div > * {
  flex: 0 0 auto;
}

#lineup-page > div > *:nth-last-child(2) {
  flex: 1 0 auto;
}

.lineup-table_export {
  background-color: white;
  border: 10px solid white;
  box-shadow: none;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

/*
.lineup-title {
  background-color: #fff;
  color: #000;
  font: 16px sans-serif;
  height: 23px;
  text-align: center;
}

.lineups-list {
  border: 1px solid #000;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.link--revision-scores {
  font-size: 0.8rem;
}
.list--text-align-left {
  text-align: left;
}

.overflow_hidden {
  overflow: hidden;
  padding: 4px;
}

.padding_top {
  padding-top: 8px;
}
.paragraph--center {
  text-align: center;
}
.paragraph--center-underline {
  text-align: center;
  text-decoration: underline;
}

.select-manual-CH {
  appearance: none;
  border: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  --webkit-appearance: none;
}

.sideBySideForm {
  display: inline-block;
}

.span--bold {
  font-weight: bold;
}

.span--red {
  color: red;
}
.span--underlined {
  text-decoration: underline;
}

.span_then--bold {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
}

.table {
  background: white;
  font: 16px sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.table_pdfs {
  background: white;
  font: 16px sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.table_pdfs-thead {
  text-decoration: underline;
}
.table--background-white {
  background: white;
}
.table-groups {
  background-color: white;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.table-tip_td {
  text-align: left;
}

.td_ch {
  text-align: right;
} */
